<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string></string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb696255182273719</string>
			</array>
		</dict>
	</array>
	<key>FacebookDisplayName</key>
	<string>Moji</string>
	<key>FacebookClientToken</key>
	<string>233c8b511286781cc4fcd8e5b9cf7e95</string>
	<key>FacebookAppID</key>
	<string>696255182273719</string>
</dict>
</plist>
